In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import yfinance as yf
import yahoofinancials
import seaborn as sn
from scipy.stats import anderson,kstest,shapiro, probplot

In [5]:
stock = 'TLKM.JK'
tlkm = yf.Ticker(stock).history(period = '2y', interval = '1mo',actions=False)
tlkm.dropna(inplace = True)
tlkm['log_return'] = np.log(tlkm['Close']) - np.log(tlkm['Close'].shift(1))
tlkm['log_return'].dropna(inplace = True)

stock = 'BBNI.JK'
bbni = yf.Ticker(stock).history(period = '2y', interval = '1mo',actions=False)
bbni.dropna(inplace = True)
bbni['log_return'] = np.log(bbni['Close']) - np.log(bbni['Close'].shift(1))
bbni['log_return'].dropna(inplace = True)
bbni['log_return']

stock = 'ASII.JK'
asii = yf.Ticker(stock).history(period = '2y', interval = '1mo',actions=False)
asii.dropna(inplace = True)
asii['log_return'] = np.log(asii['Close']) - np.log(asii['Close'].shift(1))
asii['log_return'].dropna(inplace = True)
asii['log_return']

df = pd.concat([tlkm['log_return'],bbni['log_return'],asii['log_return']], axis = 1, keys =['tlkm', 'bbni', 'asii']).dropna()
df = df[:-1]

In [7]:
df.mean()

tlkm    0.019182
bbni    0.032105
asii    0.017229
dtype: float64

In [8]:
df.cov()

          tlkm      bbni      asii
tlkm  0.006196  0.004734 -0.000863
bbni  0.004734  0.011494  0.001603
asii -0.000863  0.001603  0.007762

# TLKM dan BBNI

In [9]:
df.mean().iloc[:2]

tlkm    0.019182
bbni    0.032105
dtype: float64

In [10]:
Q = df.cov().iloc[:2][['tlkm','bbni']]
Q

          tlkm      bbni
tlkm  0.006196  0.004734
bbni  0.004734  0.011494

In [11]:
import sympy as sym
x = sym.Symbol('x')

In [12]:
u = np.array([[0],[1]])
v = np.array([[1],[-1]])
y1 = sym.solve(sym.expand((u + v*x).T.dot(Q).dot((u + v*x)).reshape((1))[0]).diff(x),x)

In [13]:
sym.expand((u + v*x).T.dot(Q).dot((u + v*x)).reshape((1))[0]).diff(x).diff(x)

0.0164429521011939

In [21]:
print('Diperoleh besar proporsi untuk saham pertama adalah : ',y1[0])

Diperoleh besar proporsi untuk saham pertama adalah :  0.822258088558763

In [23]:
retur = y1[0]*df.mean().iloc[0] + (1-y1[0])*df.mean().iloc[1]
var = y1[0]**2*Q.iloc[0][0]**2 + (1-y1[0])**2*Q.iloc[1][1]**2 + 2*y1[0]*(1-y1[0])*Q.iloc[0][1]
print('Diperoleh total return', retur*100, 'dan total variansi', var*100)

Diperoleh total return 2.14790463192366 dan total variansi 0.141393865913339