In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import yfinance as yf
import yahoofinancials
import seaborn as sn
from scipy.stats import anderson,kstest,shapiro, probplot
 
from IPython.core.display import HTML
HTML("""
<style>
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
</style>
""")

In [42]:
stock = 'TLKM.JK'
tlkm = yf.Ticker(stock).history(period = '2y', interval = '1mo',actions=False)
tlkm.dropna(inplace = True)
tlkm['log_return'] = np.log(tlkm['Close']) - np.log(tlkm['Close'].shift(1))
tlkm['log_return'].dropna(inplace = True)

stock = 'BBNI.JK'
bbni = yf.Ticker(stock).history(period = '2y', interval = '1mo',actions=False)
bbni.dropna(inplace = True)
bbni['log_return'] = np.log(bbni['Close']) - np.log(bbni['Close'].shift(1))
bbni['log_return'].dropna(inplace = True)
bbni['log_return']

stock = 'ASII.JK'
asii = yf.Ticker(stock).history(period = '2y', interval = '1mo',actions=False)
asii.dropna(inplace = True)
asii['log_return'] = np.log(asii['Close']) - np.log(asii['Close'].shift(1))
asii['log_return'].dropna(inplace = True)
asii['log_return']

df = pd.concat([tlkm['log_return'],bbni['log_return'],asii['log_return']], axis = 1, keys =['tlkm', 'bbni', 'asii']).dropna()
df

                tlkm      bbni      asii
Date
2020-03-01 -0.099330 -0.609225 -0.348307
2020-04-01  0.102191  0.100534 -0.012903
2020-05-01 -0.105361 -0.068122  0.214273
2020-06-01 -0.032261  0.178834  0.006270
2020-07-01  0.049662  0.004357  0.102284
2020-08-01 -0.064320  0.103184 -0.009756
2020-09-01 -0.110814 -0.138586 -0.134092
2020-10-01  0.023167  0.065383  0.195869
2020-11-01  0.209308  0.235722 -0.017450
2020-12-01  0.024466  0.028749  0.128211
2021-01-01 -0.062325 -0.106711  0.012371
2021-02-01  0.115279  0.069593 -0.121890
2021-03-01 -0.020261 -0.038549 -0.023420
2021-04-01 -0.066490 -0.004376  0.041769
2021-05-01  0.072321 -0.046415 -0.046520
2021-06-01 -0.088069 -0.153842 -0.044918
2021-07-01  0.077364  0.031884 -0.045557
2021-08-01  0.048202  0.121958  0.101646
2021-09-01  0.081851 -0.004640  0.051293
2021-10-01  0.029375  0.264152  0.091169
2021-11-01  0.048790 -0.028988 -0.034453
2021-12-01  0.012453 -0.007380 -0.013072
2022-01-01  0.069323  0.061060 -0.017700
2022-01-24 -0.006953 -0.010508 -0.013483

In [43]:
df.mean()

tlkm    0.012815
bbni    0.002003
asii    0.002568
dtype: float64

In [45]:
df.cov()

          tlkm      bbni      asii
tlkm  0.006547  0.007675  0.001002
bbni  0.007675  0.027926  0.011419
asii  0.001002  0.011419  0.012940

# TLKM dan BBNI

In [46]:
df.mean().iloc[:2]

tlkm    0.012815
bbni    0.002003
dtype: float64

In [87]:
Q = df.cov().iloc[:2][['tlkm','bbni']]
Q

In [57]:
import sympy as sym
x = sym.Symbol('x')

In [92]:
u = np.array([[0],[1]])
v = np.array([[1],[-1]])
y1 = sym.solve(sym.expand((u + v*x).T.dot(Q).dot((u + v*x)).reshape((1))[0]).diff(x),x)

In [88]:
sym.expand((u + v*x).T.dot(Q).dot((u + v*x)).reshape((1))[0]).diff(x).diff(x)

0.0382456110165985

In [104]:
y1[0]

1.05899062799241

In [106]:
retur = y1[0]*df.mean().iloc[0] + (1-y1[0])*df.mean().iloc[1]
retur*100

1.34531948250620